header nav div a:hover, #sendBtn:hover {
    background-color:rgb(41, 39, 39);
    border-radius: 1px; 
    border-color:rgb(41, 39, 39); 
}
//ANIMATION ON HOVER FOR THE PORTFOLIO
.retract-img:hover img{
    transition: transform 0.4s;
    width:110%;
    height:110%;
    border: 10px solid $theRed;
  }
//ANIMATION ON HOVER TABLE
table td:hover i {
    color: white;
  
  }  
