$theGreen: #243B2A;
$theRed: rgb(95, 28, 28);;
$navbarColor:black;
$navbarSize:70px;
$footerSize:70px;
$footerColor: black;
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif;
}
//ICONS
a .fa, a .fab{
  font-size: 50%;
}
header span {
  display:flex;
  padding-right:0;
}
//NAVBAR FIXED
nav {
  overflow: hidden;
  background-color:$navbarColor;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: $navbarSize;
  display:flex;
  align-items: center;

}
header div:first-of-type{
  width:10%;
  margin-left: 50px;
}
nav div:last-of-type{
  display:flex;
  width:90%;
  justify-content:space-around;
}
header nav a img {
  max-height: 50px;
  margin-top:10px;
}
nav a {
  padding-left: 7px;
  padding-right:7px;
}
//H1, H2, PRESENTATION SECTION
header section {
  margin-top: $navbarSize;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}


//ONE SCREEN SIZING
section, header {
  min-height: 100vh;
  width: 100vw;
}

header {
  background-image:url("assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  padding-top: $navbarSize;
}
h2{
  text-align:center;
  font-size:200%;
}
h3{
  margin: 10px;
}
#about{
  background-color:$theGreen;
  padding-top: $navbarSize;
  display:flex;
  align-items: center;
 
}
//Division of the about section in two columns
.twocolbox ul {
  list-style:none;
  display:flex;
  flex-direction: column;

}

.twocolbox{
  margin: 20px;
  display:flex;
  flex-direction: column;
  align-items:center;
}
.twocolbox ul li ul {
  list-style: circle;
}
#portfolio{
  background-color: antiquewhite;
  padding-top: $navbarSize;
  color: black;
  min-height: 100vh;
  max-height: 1000vh;
  display:flex;
  align-items: center;

}
#contact{
  background-color: $theRed;
  padding-top: $navbarSize;
  display:flex;
  align-items: center;
}
#upArrow{
  position: fixed;
  padding: 3px;
  border: 1px solid $navbarColor;
  color: white;
  background-color:$navbarColor;
  bottom:$footerSize - 20px;
  left: 80%;
  border-radius: 1px;
}
// !! THE POSITION OF THE BOTTOM ARROW CENTERS THE PRESENTATION SECTION !!
.bottomArrow, .resumeBtn{
  margin-top: 20%;
  padding: 3px;
  border: 1px solid $navbarColor;
  color: white;
  background-color:$navbarColor;
  bottom:$footerSize - 20px;
  border-radius: 1px;
  width: fit-content;
  visibility:visible;
}

#sendBtn {
  flex-direction: row-reverse;
  font-family: 'Amatic SC', cursive;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 100%;
}

section a {
  text-align:center;
}

span {
  text-align:center;
}
footer{
  height: $footerSize;
  width:100%;
  background-color:$footerColor;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
//SECTION CONTENT CENTERED
section div.screen{
  width: 80%;
  height:100%;
  margin-left: 10%;
  display: flex;
  flex-direction:column;
  justify-content:center;
}

.flag {
  max-height:10px;
}
//FORMULAIRE
.align {
  display:flex;
  flex-direction: row-reverse;
}

#sendBtn {
  margin-top: 55px;
  height: 60vh;
}
#sendBtn:hover {

}
input, textarea{

  display:flex;
  margin:10px;
  width:75vw;
  margin: 5vh;
  border-radius:2px;
}

#contact .screen {
  display:flex;
  align-items: center;
  justify-content: center;
}

textarea{
  height: 50vh;
  
}
.grid-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  overflow: hidden;

}
.grid-container img {
  height: 20vh;
  width:20vh;
  max-width:200px;
  max-height:200px;
  margin: 0px 5px 0px 5px;
  min-height:10vh;
  min-width:10vh;
  object-fit: contain;
  border: 10px solid $theGreen;
  
}
tr {
  text-align: center;
}
table,th, td {
  border: 2px solid white;
  padding: 10px;
}
th {
  border: 3px solid white;
}

table td i {
  color: $theGreen;
  font-size: 50%
}
//ANIMATION ON HOVER TABLE
table td:hover i {
  color: white;

}
//POPUP RESUME
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#closeBtn {
  color: white;
  font-size: 400%;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 20px;
  right: 30px;
}
