$navbarColor:black;
$navbarSize:70px;
$footerSize:70px;
$footerColor: black;
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif;
}
//NAVBAR FIXED
nav {
  overflow: hidden;
  background-color:$navbarColor;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: $navbarSize;
  display:flex;
  align-items: center;

}
header div:first-of-type{
  width:10%;
}
nav div:last-of-type{
  display:flex;
  width:90%;
  justify-content:space-around;
}
header nav div a img {
  max-height: 50px;
  margin-top:10px;
  


}
nav a {
  padding-left: 7px;
  padding-right:7px;
}
//H1, H2, PRESENTATION SECTION
header section {
  margin-top: $navbarSize;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}


//ONE SCREEN SIZING
section, header {
  height: 100vh;
  width: 100vw;
}
header {
  background-image:url("assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  padding-top: $navbarSize;
}
#about{
  background-color:blue;
  padding-top: $navbarSize;
}
#portfolio{
  background-color: antiquewhite;
  padding-top: $navbarSize;

}
#contact{
  background-color: red;
  padding-top: $navbarSize;
}
#upArrow{
  position: fixed;
  padding: 3px;
  border: 1px solid $navbarColor;
  color: white;
  background-color:$navbarColor;
  bottom:$footerSize - 20px;
  left: 80%;
  border-radius: 1px;
}
#bottomArrow{
  margin-top: 20%;
  padding: 3px;
  border: 1px solid $navbarColor;
  color: white;
  background-color:$navbarColor;
  bottom:$footerSize - 20px;
  left: 80%;
  border-radius: 1px;
}

footer{
  height: $footerSize;
  width:100%;
  background-color:$footerColor;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
//SECTION CONTENT CENTERED
section div {
  width: 80%;
  height:100%;
  margin-left: 10%;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
//POPUP IMAGE OF MY RESUME
