/*@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/
body{
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 200%;
}
nav a{
  font-size: 200%;
}
h1 {
  font-size:calc(50px + 1.5vw);
}
header section h2 {
  font-size: 250%;
}
body section p, textarea, input, li, td{
  font-family: 'Open Sans Condensed', sans-serif;
}
h4{
  font-family: 'Amatic SC', cursive;
}
li{
  font-size: 95%;
}
button {
  font-family: 'Amatic SC', cursive;
  font-size: 100%;
}